{% extends 'layout.html' %}

{% block body %}
    <h4 style="align-content: center">Government Of India have various programs and schemes to support farmers. Here is the list of different
        sections you can visit.</h4>

    <table class="table table-striped" style="width: 50%;" align="center">

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/agricultural-marketing" target="_blank">Agriculture Marketing</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/agriculture-census" target="_blank">Agriculture Census</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/budget" target="_blank">Budget</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/cooperation" target="_blank">Cooperation</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/credit" target="_blank">Credit</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/crops-nfsm" target="_blank">Crops and NFSM</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/drought-management" target="_blank">Drought Management</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/economic-administration" target="_blank">Economic Administration</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/extension" target="_blank">Extension</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/general-administration" target="_blank">General Administration</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/general-coordination" target="_blank">General Coordination</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/horticulture" target="_blank">Horticulture</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/information-technology" target="_blank">Information Technology</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/integrated-nutrient-management" target="_blank">Integrated Nutrient Management</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/international-cooperation" target="_blank">International Cooperation</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/mechanization-and-technology" target="_blank">Mechanization and Technology</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/natural-resource-management" target="_blank">Natural Resource Management</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/oilseeds-divisions" target="_blank">Oilseeds Divisions</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/plant-protection" target="_blank">Plant Protection</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/rainfed-farming-system" target="_blank">Rainfed Farming System</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/rashtriya-krishi-vikas-yojana" target="_blank">Rashtriya Krishi Vikas Yojana</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/seeds" target="_blank">Seeds</a></td>
        </tr>

        <tr align="center">
            <td><a href="http://www.agricoop.nic.in/programmesandschemes/trade" target="_blank">Trade</a></td>
        </tr>
    </table>

    <center>
        <h5>Content Provided By</h5>
        <img src="{{url_for('static', filename='dept_agriculture.png')}}" />
    </center>



{% endblock %}